<!-- app/views/sessions/new.html.erb -->
<h1>Log in</h1>

<%= form_with url: sessions_path, local: true do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.submit "Log in" %>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger"><%= flash[:danger] %></div>
<% end %>
